@inject IJSRuntime JSRuntime


<div class="container" style="alignment: center">
    <h1>Hls.js demo - Blazor wrapped: @source</h1>
    <video height="600" id="video" controls></video>
    <button id="play" @onclick="PlayVideo">Play</button>
</div>

@code {
    string source = "";
    
    protected override void OnInitialized()
    {
        source = "http://192.168.0.54:8080/video/out.m3u8";
    }
    private  void PlayVideo(object? state)
    {
        JSRuntime.InvokeVoidAsync("playVideo",  source);
        StateHasChanged();
    }
}